

section#splash
	h1#logo
		span#prefix The
		span#title Subtopia
	#brand
		img(src="http://placehold.it/256x256/ffffff/888888?text=?")

section#intro
	nav
		ul
			li: a(href="#").button Discover
			li: a(href="#").button Buy the Book
			li: a(href="#").button Subscribe

section#discover
	img(src="http://placehold.it/320x480/ffffff/888888?text=?" style="float: right; padding-left: 1em;")
	!= partial("writing/255-words")

section#buy
	img(src="http://placehold.it/900x200/ffffff/888888?text=?" style="margin: 0 auto; width: 100%;")
	!= partial("writing/255-char")
	a(href="#").button.alt Buy Now


section#subscribe
	h2 Subscribe


section#postscript
	h2 We make nothing slapdash.
	p Every page must be meticulously planned with carefully crafted resonant storytelling told through obsessively researched immaculate visuals and delivered in unprecedented format.
