

section#splash
	h1#logo
		span#prefix The
		span#title Subtopia
	#brand
		img(src="http://placehold.it/256x256/ffffff/888888?text=?")

section#intro
	nav
		ul
			li: a(href="#") Discover
			li: a(href="#") Buy the Book
			li: a(href="#") Subscribe

section#discover
	h2 Discover

section#buy
	h2 Buy

section#subscribe
	h2 Subscribe

section#postscript
	h2 Postscript
